.input_form {
  width: 400px;
  height: 29px;
  margin-left: 8px;
  margin-top: 10px;
  margin-right: 10px;
}
.form_btn {
  padding: 4px 23px;
  cursor: pointer;
  color: rgb(205, 31, 141);
  background: rgb(250, 237, 237);
  border: 0.1px;
  font-size: 16px;
}
h2 {
  margin-left: 6px;
}